.wp-block-iwc-blocks-iwc-avatar {
	// This block has customizable padding, border-box makes that more predictable.
	box-sizing: border-box;
	border-radius: 50%;
	overflow: hidden;
	img {
		box-sizing: border-box;
	}

	&.aligncenter {
		text-align: center;
	}
}
